<section class="contas-card">
  <app-card titulo="Minhas contas">
    <div class="contas-e-botao">
      <ul>
        @for (conta of contas(); track conta.nome) {
        <li class="item-entre-divisorias">
          <app-conta [conta]="conta" />
        </li>
        } @empty {
        <li aria-hidden="true">Ainda não há contas criadas.</li>
        }
      </ul>

      <app-botao-adicionar-conta (contaCriada)="contaCriada.emit($event)" class="botao-adicionar-conta"></app-botao-adicionar-conta>
    </div>
  </app-card>
</section>
