<section class="contas-card">
  <app-card titulo="Minhas contas">
    <div class="contas-e-botao">
      <ul>
        @for (conta of contas(); track conta.nome) {
        <li class="item-entre-divisorias">
          <app-conta [conta]="conta" />
        </li>
        } @empty {
        <li aria-hidden="true">Ainda não há contas criadas.</li>
        }
      </ul>

      <app-botao class="botao-adicionar-conta" texto="Adicionar conta">
        <img
          src="icones/carteira.svg"
          alt="icone banco"
          class="icone-carteira"
        />
        Adicionar conta
      </app-botao>
    </div>
  </app-card>
</section>
